* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

.app {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

.dark-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: #4f5b62;
    border-radius: 10px;
  }
}

.light-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: #babdbe;
    border-radius: 10px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
